body {
    background-color: black;
}

.wrapper {
    margin-right: 10%;
    margin-left: 10%;
}

header,
header img {
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #ffffff;
}

h1 strong:hover {
    color: red;
    transform: scaleY(1.2)
}

.bio {
    color: white;
    width: 100%;
}

@media screen and (max-width: 400px) {

    .wrapper {
        margin-right: 0;
        margin-left: 0;
    }

    .work iframe {
        width: 100vw;
    }

}


h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #ffffff;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

.bio {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 30px;
}

.work h2 {
    background-color: #f9f9f9;

}

.video-container {
    align-items: center;
}

.work iframe {
    width: 70vw;
    align-items: center;

}